extends layout

block content
  .container
    h1.display-4.m-b-2 #{msg}
    // register form

    form.login(method='POST' action='/register')
      input.login__input(type='email' name='email' placeholder='Index@email' required='')
      input.login__input(type='password' name='password' placeholder='Password' required='')
      button.login__input.login__input--submit(type='submit') Sign up

