doctype html
html(lang="pl")
  head
  link(rel="stylesheet" href="../css/main.css")
  body()
    .container
      img.mp-logo(src='../images/logo.png' alt='DBooster logo')
      block content

    script(src='/dist/App.bundle.js')