
h1.login__header1 {
    margin-top:15%;
    font-size:3em;
    color:white;

}

.go-back {
    margin-top:50px;
    font-size:2em;
    color:white;
}

.blank {
    margin-top:35%;
}

.register-response{ 
    margin-top:80px;
    font-size:2.5em;
    color:white;
    margin-bottom:50px;
}

.login__input--submit2{
    font-size:0.1em;
}